beautifulsoup4
dash
ipykernel
ipywidgets
jupyter
matplotlib
mysql-connector-python
numpy
pandas
plotly
prince
psycopg[binary]
pymongo
requests
scikit-learn
scipy
seaborn
sidetable
sqlalchemy
wget
wquantiles